services:

  dashboard:
    build: ./webui
    image: ghcr.io/${DOCKER_REPO}/valhiem-dashboard:latest
    ports:
      - "8080:80"
    volumes:
      - ./webui/default.conf:/etc/nginx/conf.d/default.conf:ro
    restart: always
    
  manager-api:
    build: ./backend
    image: ghcr.io/${DOCKER_REPO}/valheim-manager-api:latest
    user: root
    privileged: true
    ports:
      - "${API_PORT}:5000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./backend:/app
      - ./docker-compose.yml:/app/docker-compose.yml:ro
      - ./.env:/app/.env:ro
    working_dir: /app
    environment:
      - DOCKER_URL=${DOCKER_URL}
      - SECRET_KEY=${SECRET_KEY}
    
  valheim-server:
    image: lloesche/valheim-server
    container_name: ${GAME_ID}
    restart: "no"
    profiles:
      - manual
    cap_add:
      - SYS_NICE  # Recommended for performance
    stop_grace_period: 2m  # Gives the server time to save the world before stopping
    ports:
      - "2456-2457:2456-2457/udp"  # Game and query ports
    volumes:
      - valheim-world-data:/config  # Persistent storage for world data and logs
      - valheim-binaries:/opt/valheim
    environment:
      - SERVER_NAME=${VALHEIM_SERVER_NAME}
      - WORLD_NAME=${VALHEIM_WORLD_NAME}
      - SERVER_PASS=${VALHEIM_PASS}  # Must be at least 5 characters
      - SERVER_PUBLIC=${VALHEIM_PUBLIC}
      - UPDATE_CRON=${VALHEIM_UPDATE_CRON}  # Automatically check for updates daily at 6 AM
      - BACKUPS_MAX_COUNT=${VALHEIM_BACKUPS_MAX}    # Keep the last 5 automatic backups
    
  sidecar-monitor:
    build: ./sidecar
    image: ghcr.io/${DOCKER_REPO}/valhiem-sidecar:latest
    container_name: ${GAME_ID}-sidecar
    profiles:
      - manual
    # This is the "Sidecar" magic: it shares the network of the game server
    network_mode: "service:valheim-server"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # For CPU/RAM metrics
    environment:
      - TARGET_CONTAINER_NAME=${GAME_ID}
      - MANAGER_API_URL=http://manager-api:5000
      - IDLE_THRESHOLD_MINUTES=15
      - GAME_TYPE="valhiem" # temporary need to feed this when started
    
volumes:
  valheim-world-data:
    driver: local
  valheim-binaries:
    driver: local