
services:

  dashboard:
    build: ./webui
    image: ghcr.io/${DOCKER_REPO}/valhiem-dashboard:latest
    ports:
      - "8080:80"
    volumes:
      - ./webui/default.conf:/etc/nginx/conf.d/default.conf:ro
    restart: always
    
  manager-api:
    build: ./backend
    depends_on:
      - db
    image: ghcr.io/${DOCKER_REPO}/valheim-manager-api:latest
    user: root
    privileged: true
    ports:
      - "${API_PORT}:5000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./backend:/app
      - ./docker-compose.yml:/app/docker-compose.yml:ro
      - ./.env:/app/.env:ro
    working_dir: /app
    environment:
      - DOCKER_URL=unix://var/run/docker.sock
      - SECRET_KEY=${SECRET_KEY}
      - REDIS_URL=redis://redis-broker:6379/0 # Point API to the queue
      - DATABASE_URL=postgresql://user:password123@db:5432/craftcloud

  db:
    image: postgres:18.2-alpine
    container_name: craftcloud-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: craftcloud
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
  sidecar-monitor:
    build: ./sidecar
    image: ghcr.io/${DOCKER_REPO}/valheim-sidecar:latest
    container_name: ${GAME_ID}-sidecar
    profiles:
      - manual
    # This is the "Sidecar" magic: it shares the network of the game server
    network_mode: "container:${GAME_ID}"
    volumes:
      - valheim-world-data:/config:ro
    environment:
      - TARGET_CONTAINER_NAME=${GAME_ID}
      - MANAGER_API_URL=http://manager-api:5000
      - IDLE_THRESHOLD_MINUTES=15
      - GAME_TYPE="valheim" # temporary need to feed this when started
      - LOG_FILE_PATH=/config/Bepinex/LogOutput.log
        
  redis-broker:
    image: redis:8.6.0-alpine
    container_name: task-queue
    restart: always
    ports:
      - "6379:6379"
      
    # 2. The Dedicated AI Worker
  ai-rag-worker:
    build: ./worker
    container_name: ai-worker
    depends_on:
      - redis-broker
      - qdrant-db
    environment:
      - REDIS_URL=redis://redis-broker:6379/0
      - LLM_URL=http://host.docker.internal:11434/v1
      - QDRANT_URL=http://qdrant-db:6333
      - DATABASE_URL=${DATABASE_URL}

  # The Vector Database
  qdrant-db:
    image: qdrant/qdrant:v1.17.0
    container_name: local-vector-db
    restart: unless-stopped
    ports:
      - "6333:6333"
    volumes:
      - qdrant-data:/qdrant/storage
      
  valheim-server:
    image: lloesche/valheim-server
    container_name: ${GAME_ID}
    labels:
      craftcloud.role: "game_server"
    restart: "no"
    profiles:
      - manual
    cap_add:
      - SYS_NICE  # Recommended for performance
    stop_grace_period: 2m  # Gives the server time to save the world before stopping
    ports:
      - "2456-2457:2456-2457/udp"  # Game and query ports
    volumes:
      - valheim-world-data:/config  # Persistent storage for world data and logs
      - valheim-binaries:/opt/valheim
    environment:
      - SERVER_NAME=${VALHEIM_SERVER_NAME}
      - WORLD_NAME=${VALHEIM_WORLD_NAME}
      - SERVER_PASS=${VALHEIM_SERVER_PASS}  # Must be at least 5 characters
      - SERVER_PUBLIC=1 # of course it's public wth
      - UPDATE_CRON=${VALHEIM_UPDATE_CRON}  # Automatically check for updates daily at 6 AM
      - BACKUPS_MAX_COUNT=${VALHEIM_BACKUPS_MAX_COUNT}    # Keep the last 5 automatic backups
    
volumes:
  valheim-world-data:
    driver: local
  valheim-binaries:
    driver: local
  qdrant-data:
    driver: local
  postgres_data:
    driver: local