apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Set a common namespace for all base resources
namespace: craftcloud-system

# 1. Bring in all the sub-components
resources:
  - namespace.yaml
  - config/
  - data/postgres/
  - data/redis/
  - data/qdrant/
  - core/ingress.yaml
  - core/manager-api/
  - core/dashboard/
  - core/mod-syncer/
  - core/ai-rag-worker/
  - games/valheim/

# 2. Map the placeholder images to your actual GHCR images from your workflow
images:
  - name: manager-api-image
    newName: ghcr.io/your-github-username/cloudcraft-manager-api
    newTag: latest
    
  - name: dashboard-image
    newName: ghcr.io/your-github-username/cloudcraft-dashboard
    newTag: latest

  - name: mod-syncer-image
    newName: ghcr/io/your-github-username/mod-syncer-image
    newTag: latest
    
  - name: ai-rag-worker-image
    newName: ghcr/io/your-github-username/mod-syncer-image
    newTag: latest
    
  - name: valheim-sidecar-image
    newName: ghcr.io/your-github-username/valheim-sidecar
    newTag: latest

secretGenerator:
  - name: db-secrets
    envs:
      - secrets.env
      
generatorOptions: # this doesn't seem secure
  disableNameSuffixHash: true